body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

.link-button{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
}
section{
    display: flex;

}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}